/* old version has moving labels*/


.input_frame{
    position: relative;
    margin: 10px;
}

.input_box{
    min-height: 20px;
    max-height: 20px;
}


.ex{
    z-index: 10;
    position: absolute;
    top: -14px;
    left: 4px;
    pointer-events: none;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;/*stops animation at final frame after completion*/
} 

@keyframes hovering_label {
    100%
    {
        top: -36px;
        left: 10px;
        border: solid 2px black;
        border-radius: 3px;
        background-color: white;
        padding: 1px;

    }
}

@keyframes move_label_back {
    0%
    {
        top: -36px;
        left: 10px;
        border: solid 2px black;
        border-radius: 3px;
        background-color: white;
        padding: 1px;
    }
    100%
    {
        top: -14px;
        left: 4px;
    }
}

.error_feild{
    min-height: 20px;
    max-height: 20px;

    color: red;

    display: flex;
    justify-content: center;
}
